/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    overflow: hidden;
  }
  
  /* Contenedor de partículas */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* Título principal */
  h1 {
    color: white;
    text-align: center;
    padding-top: 20%;
    font-family: Arial, sans-serif;
  }
  